$mainGreen: #3dc9b3;
$mainTextGrey: #353535;
$mainTextLight: #a1a9b0;
$subTextTitle: #8c9398;
$burgerMenuColor: #372c3c;
$backgroundSpace: #f3f5f8;
$mainWhite: #fff;
$navyDark: #242830;
$progressBar: #ccc;
