.drop-section{
  overflow: hidden;
  clear: both;
  background-color: $backgroundSpace;

  &__heading{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: $mainTextGrey;
  }

  &__content{
    text-align: center;
  }

  &__cols-content{
    margin-top: 80px;
    overflow: hidden;
    clear: both;
  }

  &__cols{
    width: 30%;
    float: left;
    background-color: $mainWhite;
    margin-left: 30px;
    padding: 25px 0px 25px 0px;

    @mixin atSmall{
      width: 100%;
      margin-top: 30px;
      margin-left: 0px;
    }
  }

  &__sub-heading{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: $mainGreen;
    margin-top: 22px;
    font-weight: normal;
    letter-spacing: 2px;
  }
  &__desc{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.875rem;
    color: $subTextTitle;
    margin-top: 35px;
  }

ul.socials-icons-content li{
  display: inline-block;
  margin-top: 100px;
  margin-left:  12px;
  margin-right:  12px;
  background-color: #000;
  padding: 11px;
  border-radius: 50%;
  color: $mainWhite;
  cursor: pointer;
  margin-bottom: 115px;

  @mixin atSmall{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


}
