.large-hero{
  background-image: url('../../../assets/img/large-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__container{
    text-align: center;
    padding-top: 255px;

    @mixin atSmall{
      padding-top: 120px;
    }

  }
  &__title{
    color: $mainTextGrey;
    font-family: 'Gotham Rounded', Verdana, Tahoma, Arial, Sans-Serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: normal;

    @mixin atSmall{
      font-size: 1.5rem;
      letter-spacing: 12px;
    }

  }
  &__subtitle{
    font-family: 'Gotham Rounded', Verdana, Tahoma, Arial, Sans-Serif;
    font-size: 0.9375rem;
    color: $subTextTitle;
    margin-top: 35px;
    letter-spacing: 2px;

    @mixin atSmall{
      font-size: 1rem;

    }

  }


  span.light-title{
    color: $mainTextLight;
  }
  span.gotham-italic{
    font-style: italic;
  }



}
