.menu-icon{
  float: right;
  margin-top: 67px;
  display: inline-block;
  cursor: pointer;

  @mixin atSmall{
    margin-top: 37px;
  }

}

.top, .middle, .bottom{
    width: 27px;
    height: 5px;
    margin: 4px 0;
    border-radius: 1px;
    background-color: $burgerMenuColor;

}
