.portfolio-section{
  background-color: $backgroundSpace;

  &__heading{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: $mainTextGrey;
    letter-spacing: 2px;

  }
  .arrow-sep{
    background-image: url('../../../assets/img/sep.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 30px;
  }

  &__desc{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.875rem;
    color: $subTextTitle;
    max-width: 743px;
    margin: 0 auto;
    line-height: 30px;
    margin-top: 67px;
    padding-bottom: 100px;

    @mixin atSmall{
      margin-top: 37px;
      padding-bottom: 50px;
    }
  }


}
