.what-we-do-section{
  overflow: hidden;
  clear: both;

  &__container{
    text-align: center;
  }
  &__arrow{
    background-image: url('../../../assets/img/sep.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 30px;
  }
  &__title{
    color: $mainTextGrey;
    text-transform: uppercase;
    font-family: 'Varela Round', Verdana, Tahoma, Arial, Sans-Serif;
    font-size: 0.9375rem;
  }
  &__columns{
    padding-top: 130px;

  }
  &__one-third-columns{
    text-align: center;
    float: left;
    width: 33.00%;
    padding: 0 30px;

    @mixin atSmall{
      width: 100%;
    }
  }

  &__subheaders{
    font-family: 'Varela Round', Verdana, Tahoma, Arial, Sans-Serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: $mainTextGrey;
    margin-top: 48px;
    margin-bottom: 30px;
  }

  .border-green::after{
    content: " ";
    border: solid 2px $mainGreen;
    display: block;
    width: 35px;
    margin: 25px auto;
  }
  p{
    color: $subTextTitle;
    font-size: 0.875rem;
    font-family: 'Varela Round', Verdana, Tahoma, Arial, Sans-Serif;
    line-height: 20px;
  }

}
